
@using ImmunizNation.Client.ViewModels.KnowledgeTest
@model KnowledgeTestViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container">
    <h1>Knowledge Test</h1>
    <hr />

    @using (Html.BeginForm("KnowledgeTest", "Home", FormMethod.Post))
    {
        @for (int i = 0; i < Model.Questions.Count; i++)
        {

            <div class="form-group">
                <p>@Model.Questions[i].Question</p>
                @*@for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                {
                    <div style="padding-left:24px">
                        <label>
                            <input asp-for="@Model.Questions[i].UserAnswer" type="radio" name="answer-@i" value="@Model.Questions[i].Answers[j].Value" />
                            <span>@Model.Questions[i].Answers[j].Description</span>
                        </label>
                    </div>
                }*@
            </div>

        }

        <button type="submit" class="btn btn-success">submit</button>
    }
</div>